@charset "UTF-8";
/* CSS Document */
html * {
    line-height: 2.8vh;
}
.folderContainer{
    height: 100vh;
    padding: 5vh 7vw;
}
.rightPadding{
    padding-right: 1vh !important;
}
.leftPadding{
    padding-left: 1vh !important;
}
.panelGroupContainer{
    height: 75vh;
}
.historicContainer{
    height: 75vh;
}
.addWordContainer{
    height: 13vh;
    margin-top: 2vh;
}
.marginTopFolderButtons{
    margin-top: 1vh;
}
.contentHistFolderButtons{
    padding: 6vh 9vh;
}
.scrollWidth{
    width: 85%;
}
.buttonAddFolder{
    background-color:rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 10vh;
    border-radius: 15px;
    border-color: white;
    border-style: dashed;
    padding-top: 2.8vh;
    font-size: 10vh;
    font-weight: 900;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-bottom: 1vh;
}
.buttonAddFolder:hover{
    background-color:rgba(0, 0, 0, 0.3);
}
.histTabFolder{
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    height: 1.5vh;
    background-color: white;
    margin-left: 3vh;
}
.histContentFolder{
    border-radius: 1vh;
    height: 10vh;
    margin-bottom: 1vh;
}
.imgHistFolder{
    height: 7vh;
    width: auto;
    padding-top: 1.5vh;
    padding-left: 2.5vh;
}
.folderTitle{
    margin-top: 3.5vh;
    font-size: 2.5vh;
}
.folderEditBigButton{
    height: 10vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color: #92dbe1;
    text-align: center;
    font-size: 2vh;
    color: white;
    padding-top: 3.6vh;
    cursor: pointer;
}
.folderEditBigButton:hover{
    background-color: #5d8d91;
}
.folderEditButton{
    height: 4vh;
    background-color: #92dbe1;
    text-align: center;
    font-size: 2vh;
    color: white;
    padding-top: 0.6vh;
    cursor: pointer;
}
.folderEditButton:hover{
    background-color: #5d8d91;
}
.folderUpButton{
    height: 3vh;
    border-top-right-radius: 1vh;
    background-color: #81c1c6;
    text-align: center;
    font-size: 2vh;
    color: white;
    padding-top: 0.1vh;
    cursor: pointer;
}
.folderUpButton:hover{
    background-color: #5d8d91;
}
.folderDownButton{
    height: 3vh;
    border-bottom-right-radius: 1vh;
    background-color: #81c1c6;
    text-align: center;
    font-size: 2vh;
    color: white;
    padding-top: 0.1vh;
    cursor: pointer;
}
.folderDownButton:hover{
    background-color: #5d8d91;
}
.paddingButtonAddWord{
    padding: 1vh;
}
.panelContainer{
    background-color: whitesmoke;
    height: 25%;
    margin: 1vh 0vh;
    border-radius: 10px;
}
.panelTitle{
    padding: 0px;
    border: none !important;
    background-color: whitesmoke;
    box-shadow:none !important;
    margin-top: 1vh;
    height: 6vh;
    font-size: 4vh;
    transform: translate(0%, 50%);
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.editaPanel{
    height: 25%; 
    border-top-right-radius: 10px;
    background: #81c1c6;
    text-align: center;
    font-size: 2vh;
    color: white;
    padding-top: 0.1vh;
    cursor: pointer;
}
.noPrimaryPanel{
    height: 25%; 
    background: #c0f5f9;
    text-align: center;
    font-size: 2vh;
/*    color: white;*/
    padding-top: 0.1vh;
    cursor: pointer;
}
.primaryPanel{
    height: 25%; 
    background: #f9d05a;
    text-align: center;
    font-size: 2vh;
/*    color: white;*/
    padding-top: 0.1vh;
    /*cursor: pointer;*/
}
.nouPanel{
    height: 25%; 
    background: #81c1c6;
    text-align: center;
    font-size: 2vh;
    color: white;
    padding-top: 0.1vh;
    cursor: pointer;
}
.copyPanel{
    border-bottom-right-radius: 10px;
    height: 25%; 
    background: #92dbe1;
    text-align: center;
    font-size: 2vh;
    color: white;
    padding-top: 0.1vh;
    cursor: pointer;
}
.editaPanel:hover,
.noPrimaryPanel:hover,
.nouPanel:hover,
.copyPanel:hover{
    background-color: #5d8d91;
}
.addPanel{
    height: 25%;
    width: 86%;
    margin: 1vh 2%;
}

.scrollMenuPanels{
    height: 80%;
    margin-top: 5vh;
    overflow: hidden;
}

.textCellAddWord{
    top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    z-index: 2;
    position: relative;
    padding-left: 4px;
    cursor: default;
    text-transform: uppercase
}
.contentEditWordPadding{ 
    padding: 0px;
}
.content1EditWord{ 
    padding: 0px;
}
.searchBoxEditWord{
    width: 100%;
    font-size: 2vh;
}
.radioEditWord{
    font-size: 2vh;
}
.transparent{
    opacity: 0.3;
    -webkit-transition: 0.75s ;
    -moz-transition: 0.75s ;
    -o-transition: 0.75s ;
    transition: 0.75s ;
}
.loadingGifTransparent{
    z-index: 20;
    position: absolute;
    height: 4vh;
    margin-top: 3vh;
    margin-left: 5vh;
}
.FolderButtonAddWord{
    height: 5vh;
    border-radius: 5px;
    box-shadow: 2px -2px 0px 1px #333;
    border: none;
    color: #000;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; 
    cursor: pointer;
    max-height: 35px;
    width: 90%;
    font-size: 2.3vh;
}
.FolderButtonAddWord:hover{
    box-shadow: 0px -0px 0px 1px #333;
    transform: translate(2px, -2px);
}
.fonsAlert-confirms{
    font-size: 2.5vh !important;
}