@charset "UTF-8";
/* CSS Document */
#boxUserConfig #header{
    padding-top: 0px !important;
}
.folderContainer{
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.boxSentencesFolder{
    height: 90vh;
}
.folder{
    padding-top: 4vh;
    padding-bottom: 4vh;
/*    padding-left: 4vw;*/
    padding-left: 8vh;
    height: 84vh;
}
.titleFolderBox{
    /*padding-right: 4vw;*/
    padding-right: 8vh;
    height: 14.5vh;
}
.scrollBox{
    /*padding-right: 2vw;*/
    padding-right: 4vh;
    height: 61vh;
}
.scrollBoxModal{
    height: 40vh;
}
.insideScroll{
    /*padding-right: 2vw;*/
    padding-right: 4vh;
}
.positionIndex1{
    position: fixed;
    z-index: 1;
}
.positionIndex2{
    position: relative;
    z-index: 2;
}.histTabFolder{
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    height: 1.5vh;
    background-color: white;
    margin-left: 3vh;
}
.tabFolder{
    background-color: white;
/*    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    height: 0.75vw;
    width: 3.5vw;
    margin-left: 1.5vw;
    margin-top: 0.25vw;*/
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    height: 1.5vh;
    width: 3.5vw;
    margin-left: 3vh;
    margin-top: 0.5vh;
}
.tabFolderShadow{
    background-color: #393939;
/*    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    height: 0.75vw;
    width: 3.5vw;
    margin-left: 2vw;*/
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    height: 1.5vh;
    width: 3.5vw;
    margin-left: 4vh;
}
.histContentFolder{
    border-radius: 1vh;
    height: 10vh;
    margin-bottom: 1vh;
    cursor: pointer;
}
.histContentFolder:hover{
    opacity: 0.6;
}
.contentFolder{
/*    border-radius: 0.5vw;
    height: 5vw;
    width: 35vw;*/
    border-radius: 1vh;
    height: 10vh;
    width: 35vw;
}
.contentFolderShadow{
    background-color: #393939;
/*    border-radius: 0.5vw;
    height: 5vw;
    width: 35vw;
    margin-left: 0.5vw;*/
    border-radius: 1vh;
    height: 10vh;
    width: 35vw;
    margin-left: 1vh;
}
.imgFolder{
    width: auto;
/*    height: 3.5vw;
    margin-top: 0.75vw;
    margin-left: 1.25vw;*/
    height: 7vh;
    margin-top: 1.5vh;
    margin-left: 2.5vh;
}
.imgHistFolder{
    height: 7vh;
    width: auto;
    margin-top: 1.5vh;
    margin-left: 2.5vh;
}
.folderTitle{
/*    margin-top: 1.5vw;
    font-size: 1.75vw;*/
    margin-top: 3vh;
    font-size: 3.5vh;
}
.scrollOverflow{
    height: 100%;
    overflow: hidden;
}
.folderHistTitle{
    margin-top: 3.5vh;
    font-size: 3.5vh;
}
.histFolder{
    /*margin-right: 2vw;*/
    margin-right: 4vh;
}
.marginModalTopHist{
    margin-top: 20vh;
}
.sentenceBox{
    border-radius: 1vh;
    height: 10vh;
    margin-bottom: 2vh;
    background-color: #FFFFFF;
}

.editButton{
    height: 4vh;
    background-color: #92dbe1;
    text-align: center;
    font-size: 1.8vh;
    color: white;
    padding-top: 0.6vh;
    cursor: pointer;
}
.editButton:hover{
    background-color: #5d8d91;
}
.copyButton{
    height: 3vh;
    border-top-right-radius: 1vh;
    background-color: #81c1c6;
    text-align: center;
    font-size: 1.8vh;
    color: white;
    padding-top: 0.1vh;
    cursor: pointer;
}
.copyButtonLg{
    height: 5vh;
    border-top-right-radius: 1vh;
    background-color: #81c1c6;
    text-align: center;
    font-size: 1.8vh;
    color: white;
    padding-top: 1.1vh;
    cursor: pointer;
}
.copyButtonXLg{
    height: 10vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color: #81c1c6;
    text-align: center;
    font-size: 1.8vh;
    color: white;
    padding-top: 4vh;
    cursor: pointer;
}
.copyButton:hover,
.copyButtonXLg:hover,
.copyButtonLg:hover{
    background-color: #5d8d91;
}
.deleteButton{
    height: 3vh;
    border-bottom-right-radius: 1vh;
    background-color: #81c1c6;
    text-align: center;
    font-size: 1.8vh;
    color: white;
    padding-top: 0.1vh;
    cursor: pointer;
}
.deleteButtonLg{
    height: 5vh;
    border-bottom-right-radius: 1vh;
    background-color: #92dbe1;
    text-align: center;
    font-size: 1.8vh;
    color: white;
    padding-top: 1.1vh;
    cursor: pointer;
}
.deleteButton:hover,
.deleteButtonLg:hover{
    background-color: #5d8d91;
}
.upButton{
    height: 5vh;
    background-color: #febd85;
    text-align: center;
    font-size: 3vh;
    color: white;
    padding-top: 1.1vh;
    cursor: pointer;
}
.downButton{
    height: 5vh;
    background-color: #f89e55;
    text-align: center;
    font-size: 3vh;
    color: white;
    padding-top: 1.1vh;
    cursor: pointer;
}
.upButton:hover,
.downButton:hover{
    background-color: #c76210;
}
.okIcon{
    height: 10vh;
    text-align: center;
    font-size: 6vh;
    color: #b3d334;
    padding-top: 2vh;
}
.wrongIcon{
    height: 10vh;
    text-align: center;
    font-size: 6vh;
    color: red;
    padding-top: 2vh;
}

.grayButton {
/*    margin-top: 0.75vw;
    height: 5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.5vw;*/
    margin-top: 1.5vh;
    height: 10vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 1vh;
    font-size: 2.2vh;
    color: white;
    background: -moz-linear-gradient(top, rgba(46, 46, 46,0) 0%,  rgba(46, 46, 46,0.20) 20%, rgba(46, 46, 46,0.40) 40%, rgba(46, 46, 46,0.60) 60%, rgba(46, 46, 46,00) 80%, rgba(46, 46, 46,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 46, 46,0)), color-stop(20%,rgba(46, 46, 46,0.20)), color-stop(40%,rgba(46, 46, 46,0.40)), color-stop(60%,rgba(46, 46, 46,0.60)), color-stop(80%,rgba(46, 46, 46,0.80)), color-stop(100%,rgba(46, 46, 46,1)));
    background: -webkit-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: -o-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: -ms-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: linear-gradient(to bottom,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background-color: #666666;
    border: none;
}
.grayButton:hover{
    background-color: black;
}
.turquoiseButton {
/*    margin-top: 0.75vw;
    height: 5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 0.5vw;*/
    margin-top: 1.5vh;
    height: 10vh;
    padding-left: 2vh;
    padding-right: 2vh;
    border-radius: 1vh;
    font-size: 2.2vh;
    color: white;
    background: #3c8188;
    background: -webkit-linear-gradient(90deg, #3c8188 14%, #7bd0d7 100%);
    background: -moz-linear-gradient(90deg, #3c8188 14%, #7bd0d7 100%);
    background: -ms-linear-gradient(90deg, #3c8188 14%, #7bd0d7 100%);
    background: -o-linear-gradient(90deg, #3c8188 14%, #7bd0d7 100%);
    border: none;
}
.turquoiseButton:hover{
    background: #2a5b60;
    background: -webkit-linear-gradient(90deg, #2a5b60 14%, #3c8188 100%);
    background: -moz-linear-gradient(90deg, #2a5b60 14%, #3c8188 100%);
    background: -ms-linear-gradient(90deg, #2a5b60 14%, #3c8188 100%);
    background: -o-linear-gradient(90deg, #2a5b60 14%, #3c8188 100%);
}
.buttonAddFolder{
    background-color:rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 10vh;
    border-radius: 15px;
    border-color: white;
    border-style: dashed;
    line-height: 2.8vh;
    padding-top: 2.8vh;
    font-size: 10vh;
    font-weight: 900;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-bottom: 2vh;
}
.buttonAddFolder:hover{
    background-color:rgba(0, 0, 0, 0.3);
}
.fonsBlanc{
    font-size: 4vh;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 3vh;
}
/*Add sentence modal*/
.img-icon{
    height: 3vh;
    width: auto;
}
.marginInfo{
    margin-top: 4.5vh;
}
.imgMas{
    height: 12vh;
    width: 12vh;
    border: 0.6vh dashed #8f8f8f;
    border-radius: 1vh;
    cursor: pointer;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.7);
}
.imgMas:hover{
    box-shadow: 0 0 10px #404040;
}
.imgMas:active{
    box-shadow: none;
}
.masGris{
    line-height: 3.5vh;
    padding-top: 3.5vh;
    font-size: 7vh;
    text-align: center;
    color: #8f8f8f;
}
.Selected{
    border: 0.6vh solid #8bd3e9 !important;
    box-shadow: 0 0 10px #404040 !important;
}
.iconTrash{
    font-size: 9vh;
    color:#3d3d3d;
    margin-top: 2vh;
    cursor: pointer;
}
.iconTrash:hover{
    color: #8f8f8f;
}
.error{
    border: 0.6vh solid red !important;
}
.transparent{
    opacity: 0.3;
    -webkit-transition: 0.75s ;
    -moz-transition: 0.75s ;
    -o-transition: 0.75s ;
    transition: 0.75s ;
}
.loadingGifTransparent{
    z-index: 20;
    position: absolute;
    height: 4vh;
    margin-top: 3vh;
    margin-left: 5vh;
}
/*Sentence box*/
.sentenceText{
    font-size: 2.5vh;
    text-align: left;
}
.sentencePicto{
    height: 6vh;
    padding-top: 0.5vh;
}
.pictoImg{
    height: 100%;
}
.sentenceType{
    height: 4.75vh;
    padding-left: 2vh;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    background-color: #FEE8B6;
}
.sentenceTypeImg{
    height: 100%;
}
.indicatorNegativeSentence{
    height: 0.5vh;
    background-color: black;
}
.indicatorNoNegativeSentence{
    height: 0.5vh;
    background-color: #FEE8B6;
}
.pictoType{
    height: 3vh;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
}
.pictoTypeImg{
    height: 100%;
}
.fonsCreateSentenceModal{
    font-size: 2.5vh;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 3vh;
    padding-bottom: 4vh;
}
.popover{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vh;
    border: none;
    box-shadow: 0 0 10px #404040;
    min-width: 50vh;
}