html{
    font-size: 3vh;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.scroll{
    overflow-y: scroll;
    min-height: 94vh;
}
/*Scroll properties*/
#scrollBar::-webkit-scrollbar{
width:15px;
background-color:none;
} 
#scrollBar::-webkit-scrollbar-thumb{
/*background:-webkit-linear-gradient(0, #92dbe1Turquesa 40%, #78b3b8Turquesa Oscuro 100%);*/
background-color: #92dbe1;/*Turquesa*/
border-radius:10px;
}
#scrollBar::-webkit-scrollbar-thumb:hover{
background:#78b3b8; /*Turquesa Oscuro*/
}
#scrollBar::-webkit-scrollbar-thumb:active{
background-color:#92dbe1;/*Turquesa*/
}
/*#scrollBar::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px gray inset;
}*/
#boxUserConfig #header{
    padding-top: 0px !important;
}
.MenuUserConfig{
    height: 80vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
    /*overflow: hidden;*/
}

.editButton{
    color: white;
    background-color: #333333;
    border: none;
    height: 6vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-top-right-radius: 15px;
}
.textButons{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
}
.editButton:hover{
    background-color: black;
    padding-top: 0.5vh;
}
.editButtonActive{
    background-color: black;
    padding-top: 0.5vh;
}
.editButton[disabled] {
   background-color: #626262;
}

.btn-Black {
    color: white;
    background-color: #333333;
    border-color: #333333;
    
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    /*margin-top: 0.5vh;*/
    border-radius: 5px;
}
.btn-Black:hover{
    background-color: black;
    border-color: black;
    margin-left: 2px;
    margin-top: 0.2vh;
}
.btn-turquoise {
    font-size: 2.5vh;
    color: #333333;
    background-color: #92dbe1;
    border-top: 0.3vh solid #333333;
    border-right: 0.4vh solid #333333;
    border-left: none;
    border-bottom: none;
    height: 5.2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 8px;
}
.btn-turquoise:hover{
    height: 5vh;
    border:none;
    margin-left: 2px;
    margin-bottom: 0.2vh;
}
.btn-gray {
    height: 5.2vh;
    font-size: 2.5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 5px;
    color: white;
    background: -moz-linear-gradient(top, rgba(46, 46, 46,0) 0%,  rgba(46, 46, 46,0.20) 20%, rgba(46, 46, 46,0.40) 40%, rgba(46, 46, 46,0.60) 60%, rgba(46, 46, 46,00) 80%, rgba(46, 46, 46,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 46, 46,0)), color-stop(20%,rgba(46, 46, 46,0.20)), color-stop(40%,rgba(46, 46, 46,0.40)), color-stop(60%,rgba(46, 46, 46,0.60)), color-stop(80%,rgba(46, 46, 46,0.80)), color-stop(100%,rgba(46, 46, 46,1)));
    background: -webkit-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: -o-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: -ms-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: linear-gradient(to bottom,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background-color: #666666;
    border: none;
}
.btn-gray:hover{
    background-color: black;
}
.backgroundUserDataBox{
    margin:3vh;
    border-radius: 15px;
    background-color: white;
}
.backgroundUserConfigBox{
    margin:3vh;
    border-radius: 15px;
    background-color: #fddfad;
}
#DadesUsuariLeft{
    padding-left: 3vh;
    padding-right: 1.5vh;
    padding-bottom: 3vh;
}
#DadesUsuariRight{
    padding-right: 3vh;
    padding-left: 1.5vh;
    padding-bottom: 3vh;

}
.dadesUsuariCentre{
    padding: 3vh;
}
.inputDadesUsuari{
    height: auto;
    width: auto;
    border: none;
    padding-left: 1.5vh;
    background-color: #97dee4;
    color:grey;
}
.inputDadesUsuariError{
    height: auto;
    width: auto;
    border: 0.5vh solid #fd065d;
    color: #fd065d;
    padding-left: 1.5vh;
    background-color: #97dee4;
}
.inputDadesUsuariSucces{
    height: auto;
    width: auto;
    border: 0.5vh solid #aeff00;
    color: #aeff00;
    padding-left: 1.5vh;
    background-color: #97dee4;
}
.inputDadesUsuariWarning{
    height: auto;
    width: auto;
    border: 0.5vh solid #ffcc00;
    color: #ffcc00;
    padding-left: 1.5vh;
    background-color: #97dee4;
}
.inputDadesUsuari::-webkit-input-placeholder{
    color:grey;
}
.inputDadesUsuari::-moz-placeholder{
    color:grey;
}
.inputDadesUsuariEditable{
    height: auto;
    width: auto;
    border: none;
    padding-left: 1.5vh;
    background-color: #cff5f8;
}
.inputDadesUsuariEditable::-webkit-input-placeholder {
    color:#cff5f8;
}
.inputDadesUsuariEditable::-moz-placeholder {
    color:#cff5f8;
}
textarea:focus, input:focus{
    outline: none;
    box-shadow: 0 0 10px #404040;
}
input[type="text"] {
     width: 100%;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
.verticalMarginBottom{
    margin-bottom: 3vh;
}
.verticalMarginTop{
    margin-top: 3vh;
}
.verticalMarginTop2{
    margin-top: 7vh;
}
.textNegreta{
    font-weight: bold;
}
.FonsTurquesa{
    text-align: center;
    background-color: #97dee4;
    color:gray;
}
.FonsTurquesaClar{
    text-align: center;
    background-color: #cff5f8;
    margin-bottom: 0.9vh;
}
.FonsTurquesaClar:hover{
    box-shadow: 0 0 10px #404040;
}
.btn-group-turquoise{
    height: 5vh;
    font-size: 2.5vh;
    background-color: #cff5f8;
    border-color: #97dee4;
}
.btn-group-turquoise:hover, .btn-group-turquoise:focus{
    background-color: #97dee4;
}
.btn-group-turquoise:active{
    background-color: #cff5f8 !important;
}
.textPetit{
    font-size: 2.5vh;
    margin-top: 0.5vh;
}
.configLink{
    color: #464646;
    text-decoration: underline;
    cursor: pointer;
}
.configLink:hover{
    color: #464646;
    font-weight: bold;
}
.marginBoxCentral{
    margin: 3vh;
}
.infoIconBox *{
    font-size: 2vh;
}
.popover{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vh;
    border: none;
    box-shadow: 0 0 10px #404040;
    min-width: 20vw;
    max-width: 60vw;
}
.popoverFontSize *{
    font-size: 2vh;
}
.menuBar{
    margin-bottom: 1vh;
}
.headerBar{
    background-color: white;
    padding: 1vh;
}
.disabledBar{
    background-color: #e2e2e2;
}
.buttonBar{
    cursor: pointer;
}
.contentBar{
    background-color: #fddfad;
    padding: 3vh;
}
.FonsTaronja{
    text-align: center;
    background-color: #fddfad;
    cursor: pointer;
}
#predSistem .FonsTaronja{
    cursor:default;
}
.disabledText{
    color: gray;
}
.loadingGifSmBar{
    height: 4vh;
    width: auto;
    margin-top: 1vh;
}
.loadingGifSm{
    height: 4vh;
    width: auto;
}
.center{
    margin-left: 20vh;
}
.fonsAlert{
    font-size: 4vh;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 6vh;
    padding-bottom: 4vh;
}
.backgroundUserConfigBox .fonsAlert{
    padding-left: 5vh !important;
    padding-right: 5vh !important;
}
.img-Alert{
    height: 4.5vh;
    width: auto;
}
.img-owl{
    height: 15vh;
    width: auto;
    margin-right: 5vw;
}

.img-configRadio{
    height: 4.8vw;
    width: auto;
    cursor: pointer;
}
input.imageRadio[type=radio]:empty + label{
    cursor: pointer;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.7);
}
input.imageRadio[type=radio]:checked + label{
    border: 0.5vh solid #97dee4;
    box-shadow: 0 1vh 1vh #6b999d;
}
input.imageRadio[type=radio]:empty + label:hover{
    box-shadow: 0 0 10px #404040;
}

#colorSelect{
    color:white;
}
#colorSelect input.imageRadio[type=radio] + label{
    margin-top: 1vh;
}
#colorSelect input.imageRadio[type=radio]:checked + label{
    border: none;
    box-shadow: 0 0 10px #404040;
}

.img-config{
    height: 4.2vw;
    width: auto;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.7);
    cursor: default;
}

.img-configSwitch{
    height: 4.2vw;
    width: auto;
    cursor: pointer;
}
input.imageSwitch[type=checkbox]:empty + label{
    opacity: 0.5;
    box-shadow: 0 0 10px #404040;
}
input.imageSwitch[type=checkbox]:checked + label{
    opacity: 1;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.7);
}
input.imageSwitch[type=checkbox]:empty + label:hover{
    box-shadow: 0 0 10px #404040;
}
.boxEdit{
    width: 8vh;
    margin: 0px;
    padding: 0px;
    margin-top: 0.7vh;
    margin-left:2vw;
    padding-left: 0.8vh;
    font-size: 2.3vh;
    background-color: #fddfad;
    cursor: pointer;
}
input.switch:empty ~ label
{
    margin-top: 0.7vh;
}
/*Input time propertis*/
.inputTimeConfig{
    margin: 0px;
    padding: 0px;
    height: 3.5vh !important;
    width: 9vh;
    color:black;
    border: none;
    font-size: 2.5vh;
    padding-left: 1vh;
    background-color: #faa258;
}
.inputTimeConfig:disabled{
    color:grey;
    background-color: #cccccc;
}
.backgroundGreyTime{
    margin-top: 0.4vh;
    height: 3.5vh !important;
    width: 14vh;
    font-size: 2.5vh;
    color: #cccccc;
    background: -moz-linear-gradient(top, rgba(46, 46, 46,0) 0%,  rgba(46, 46, 46,0.20) 20%, rgba(46, 46, 46,0.40) 40%, rgba(46, 46, 46,0.60) 60%, rgba(46, 46, 46,00) 80%, rgba(46, 46, 46,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 46, 46,0)), color-stop(20%,rgba(46, 46, 46,0.20)), color-stop(40%,rgba(46, 46, 46,0.40)), color-stop(60%,rgba(46, 46, 46,0.60)), color-stop(80%,rgba(46, 46, 46,0.80)), color-stop(100%,rgba(46, 46, 46,1)));
    background: -webkit-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: -o-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: -ms-linear-gradient(top,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background: linear-gradient(to bottom,  rgba(46, 46, 46,0) 0%,rgba(46, 46, 46,0.2) 20%,rgba(46, 46, 46,0.4) 40%,rgba(46, 46, 46,0.6) 60%,rgba(46, 46, 46,0.8) 80%,rgba(46, 46, 46,1) 100%);
    background-color: #666666;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: 3.5vh;
}
input[type=number] {
    -moz-appearance: textfield;
}
.labelTurquesa{
    font-weight: normal;
    color: black;
    cursor: pointer;
    width: 100%;
}
.FonsTurquesaSucces{
   border: 0.5vh solid #ff9000;
   margin-bottom: 0px;
}
.voices .boxEdit{
    height: 4vh;
    background-color: white;
    margin: 0;
    padding-right: 17%;
}
.voices .dropdown-arrow{
    width: 100%;
    background-size: 4vh 4vh;
}
.voices .boxEdit *{
    font-size: 2vh;
}
.voices input.switch:empty ~ label:before,
.voices input.switch:empty ~ label:after
{
    content: 'Masc Fem';
    width: 10vh;
    background-color: #faa258;
}
.voices input.switch:empty ~ label:after
{
    content:'===';
    width: 2.6em;
    background-color: #666666;
}
.voices input.switch:checked ~ label:after
{
    margin-left: 3em;
}
.img-audioButton{
    height: 6vh;
    width: auto;
}
.verticalMarginVoice{
    margin-top: 1vh;
}
.paddingLeft{
    padding-left: 1.2vw;
}
.paddingLeft2{
    padding-left: 0.6vw;
}
.paddingLeft3{
    padding-left: 5vh;
}
#interficie .img-configRadio{
    height: 6vw;
}
#scanOrder .img-configRadio{
    height: 8.1vw;
}
.titlePictosUserConfig *{
    font-size: 2.2vh;
    text-align: center;
}
.arrowMenuBar{
    margin-top: 1.2vh;
    height: 2vh;
    width: auto;
}
.errorSelect{
    border: 0.5vh solid #fd065d;
}
.textError{
    padding-top: 2vh;
    font-size: 2.2vh;
    color: gray;
}
.imgScanOrder{
    cursor: pointer;
}
.imgScanOrder:hover{
    opacity: 0.5;
    cursor: pointer;
}
.imgScanOrderDisabled{
    opacity: 0.5;
    cursor: default;
}
.imgScanOrderPred{
    height: 26.5vh;
    margin-right: 0.5vh;
}
.imgScanOrderMenu{
    height: 4.2vh;
    margin-bottom: 0.5vh;
}
.imgScanOrderPanel{
    height: 21.8vh;
}
#scanOrderModal .marginModalTopOwl{
    margin-top: 4vh;
}

/* CSS FAQ, Tips and Download views */

.text-indent-up{
    padding-left: 4%;
    display: block;
}

.paddingRight3{
    padding-right: 5vh;
}

.paddingUp1{
    padding-top: 3vh;
}

.paddingDown1 {
    padding-bottom: 3vh;
}

.contentLightBar{
    background-color: #ffffff;
    padding: 3vh;
}