<div ng-include="'/angular_templates/infoModal.html'"></div>
<div>
    <div class="form addWordForm40" >
        <div class="addWordFromField addWordFromPaddingH fullheight" style="background-color: #fff;" ng-class="{ReqField: errAdd.erradd1 == true }">
            <div class="row">
                <div class="col-xs-6 row ">
                    <div class="col-xs-12">
                        {{content.SingularMascAdj}}
                    </div>
                    <div class="col-xs-12 marginTopAdjS">
                        <input type="text" class="addWordText "  name="mascAdj" ng-model="objAdd.masc"
                               placeholder="{{content.singularMascPlaceholderName}}" />
                    </div>
                </div>
                <div class="col-xs-6 row text-right">
                    <div class="col-xs-12">
                        {{content.SingularFemAdj}}
                    </div>
                    <div class="col-xs-12 marginTopAdjS">
                        <input type="text" class="addWordText"  name="femAdj" ng-model="objAdd.fem"
                               placeholder="{{content.singularFemPlaceholderName}}"/>
                    </div>
                </div>

            </div>
            <div class="row marginTopAdj">
                <div class="col-xs-6 row">
                    <div class="col-xs-12 ">
                        {{content.PluralMascAdj}}
                    </div>
                    <div class="col-xs-12 marginTopAdjS">
                        <input type="text" class="addWordText"  name="mascplAdj" ng-model="objAdd.mascpl"
                               placeholder="{{content.pluralMascPlaceholderName}}"/>
                    </div>
                </div>
                <div class="col-xs-6 row text-right">
                    <div class="col-xs-12 ">
                        {{content.PluralFemAdj}}
                    </div>
                    <div class="col-xs-12 marginTopAdjS">
                        <input type="text" class="addWordText"  name="femplAdj" ng-model="objAdd.fempl"
                               placeholder="{{content.pluralFemPlaceholderName}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form addWordForm25">
        <div class="addWordFromField addWordFromPadding fullheight row" style="background-color: #fff;">
            <div class="row">
                <div class="col-xs-1 ">
                    <img class="img-icon" ng-src="/img/icons/info.png" ng-click="toggleInfoModal(content.modalInfoTitle, content.serEstarAdjInfo);"/>
                </div>
                <div class=" col-xs-4">
                    {{content.serAdj}}
                </div>
                <div class="col-xs-4">
                    <input id="switchAdj1" class="switchclear" type="checkbox" 
                           ng-model="$parent.switchAdj.s1" ng-show="false">
                    <label for="switchAdj1">&nbsp;</label>
                </div>
                <div class="col-xs-3">
                    {{content.estarAdj}}
                </div>
            </div>
            <div class="row marginTopAdj">
                <div class="col-xs-1 ">
                    <img class="img-icon" ng-src="/img/icons/info.png" ng-click="toggleInfoModal(content.modalInfoTitle, content.firstThirdAdjInfo);"/>
                </div>
                <div class=" col-xs-4">
                    {{content.firstPersonAdj}}
                </div>
                <div class="col-xs-4">
                    <input id="switchAdj2" class="switchclear" type="checkbox" 
                           ng-model="$parent.switchAdj.s2" ng-show="false">
                    <label for="switchAdj2">&nbsp;</label>
                </div>
                <div class="col-xs-3">
                    {{content.thirdPersonAdj}}
                </div>
            </div>
        </div>
    </div>
    <div class="form addWordForm12c5">
        <div class="addWordFromFieldAdj fullheight row" style="background-color: #fff;">
            <div class="col-xs-1 ">
                <img class="img-icon" ng-src="/img/icons/info.png" ng-click="toggleInfoModal(content.modalInfoTitle, content.supportsExpansionInfo);"/>
            </div>
            <div class="col-xs-9">
                {{content.supportsExpansion}}
            </div>
            <div class="col-xs-2">
                <input id="switchAdjsupExp" class="switch" type="checkbox" 
                       ng-model="$parent.objAdd.supExp" ng-show="false">
                <label for="switchAdjsupExp">&nbsp;</label>
            </div>
        </div>
    </div>
    <div class="form addWordForm22c5">
        <div class="addWordFromFieldAdj fullheight" style="background-color: #fff;" ng-class="{ReqField: errAdd.erradd2 == true }">
            <div class="has-feedback" style="height: 30%">
                <div class="col-xs-1">
                    <img class="img-icon" ng-src="/img/icons/info.png" ng-click="toggleInfoModal(content.modalInfoTitle, content.classAdjInfo);"/>
                </div>
                <div class="col-xs-2">
                    {{content.classWord}}
                </div>
                <div class="col-xs-6 input-group input-group-auto inputMarginRigth">
                    <select
                        class="classBoxAddWord"
                        name="className"
                        ng-model="formAdjClass"
                        ng-change="addAdjClass(formAdjClass.valueOf())"
                        >
                        <option ng-repeat="x in $parent.classAdj| orderBy:'classType'" value="{{x.classType}}">{{x.adjType}}</option>
                    </select>
                </div>
            </div>
            <div class="inputMarginLeft" style=" height:70%">
                <table class="table table-condensed taula">
                    <div class="col-xs-4 classPaddingAddWord" ng-repeat="item in AdjClassList">
                        <div class="row colorBoxClass">
                            <div class="col-xs-8 llenguatgeAddWord" >{{ item.adjType}}</div>
                            <div class="col-xs-4 butoAddWord text-right"><div class="icon-minus btn-borrarAddWord" ng-click="removeAdjclass($index)"></div></div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>