<div class="topBarDialogS"><div class="editTitle">Log out</div><div class="cruzTop"></div></div>
<div class="imgRounded confirmDefPadS">
    <div class="imgRounded confirmBackgroundColor" >
        <div class="confirmContent row" >
            <p class="text-center col-xs-12 dialogText">
                Estas seguro de que quieres salir?
            </p>
        </div>
        <div class="row confirmButtons">
            <input class=" dialogButton col-xs-offset-3 col-xs-2" type="button" value="{{content.confirm}}" ng-click="confirm();"/>
            <input class=" dialogButton col-xs-offset-2 col-xs-2" type="button" value="{{content.cancel}}" ng-click="closeThisDialog();"/>
        </div>
    </div>
</div>