<div class="topBarDialog"><div class="editTitle">Crea Panells</div><div class="cruz"></div></div>
<div class="dialogContent row" style="height: 25%">
        {{content.rmimgtext}}

<div class="row" style="height: 25%">
    <input class="dialogButton col-xs-offset-3 col-xs-2 dialogTitle" type="button" value="{{content.confirm}}" ng-click="confirm();"/>
    <input class="dialogButton col-xs-offset-2 col-xs-2 dialogTitle" type="button" value="{{content.cancel}}" ng-click="closeThisDialog();"/>
</div>
