<link rel="stylesheet" type="text/css" href="css/home.css">
<link rel="stylesheet" type="text/css" href="css/generico.css">
<link rel="stylesheet" type="text/css" href="libraries/scrollbarPanel.css">
<link rel="stylesheet" type="text/css" href="css/userConfig.css">
<link rel="stylesheet" type="text/css" href="css/responsiveForm.css">

<style>
    html, body, .container-table{height: 100%;height: 100vh;background: url('{{img.fons}}') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
</style>

<div ng-include="'/angular_templates/logoutModal.html'"></div>
<!--menu superior dropdown-->
<div ng-include="'/angular_templates/dropdownMenuBar.html'"></div>

<div id="main-container">
    
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 home-logo" ng-click="linkHome();">
            <img src="img/srcWeb/home/baixades-{{langabbr}}.png" class="home-logo-img"  width="250" />
        </div>        
    </div>
    
    <div class="row" style="margin-bottom: 20px;"><br>
        <div class="col-xs-10 col-xs-offset-1 home-buttons">
            <div class="row">
                
                <div class="col-xs-2 col-xs-offset-2 home-button" ng-mouseenter="linkColor('link-1', '#898989', true)" 
                     ng-mouseleave="linkColor('link-1', '#3b93af', false)" 
                     ng-click="view.Windows=true; view.Mac=false; view.Android=false; view.iOS=false">
                    <img ng-src="{{img.button1}}" class="home-button-img" width="120"/>
                    <span style="color:{{link1color}};" class='home-links'>Windows</span>
                </div>
                
                <div class="col-xs-2  home-button" ng-mouseenter="linkColor('link-2', '#898989', true)" 
                     ng-mouseleave="linkColor('link-2', '#edb95d', false)" 
                     ng-click="view.Mac=true; view.Windows=false; view.Android=false; view.iOS=false">
                    <img ng-src="{{img.button2}}" class="home-button-img" width="120"/>
                    <span style="color:{{link2color}};" class='home-links'>Mac OS X</span>
                </div>
                
                <div class="col-xs-2  home-button" ng-mouseenter="linkColor('link-3', '#898989', true)" 
                     ng-mouseleave="linkColor('link-3', '#f0a22e', false)" 
                     ng-click="view.Android=true; view.Windows=false; view.Mac=false; view.iOS=false">
                    <img ng-src="{{img.button3}}" class="home-button-img" width="120"/>
                    <span style="color:{{link3color}};" class='home-links'>Android</span>
                </div>
                
                <div class="col-xs-2  home-button" ng-mouseenter="linkColor('link-4', '#898989', true)" 
                     ng-mouseleave="linkColor('link-4', '#3b93af', false)" 
                     ng-click="view.iOS=true; view.Windows=false; view.Mac=false; view.Android=false">
                    <img ng-src="{{img.button4}}" class="home-button-img" width="120"/>
                    <span style="color:{{link4color}};" class='home-links'>iOS</span>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="row" ng-if="view.Windows">
        <div class="col-xs-6 col-xs-offset-3">        
            <div class="row col-xs-12">
                <div class="row">
                    <div class="row col-xs-12">
                        <div class="col-xs-12 text-justify" bind-html-compile="text.windowsDownload"></div>
                        <div class="download-button">                                
                            <a ng-href="http://jocomunico.com/files/jocomunico-windows.zip" target="_self">
                                <button class="btn-gray pull-right" >
                                    {{text.downloadButton}}
                                    <img src="img/srcWeb/DropdownMenuBar/downloadIconSelected.png" class="img-download" />
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-if="view.Mac">
        <div class="col-xs-6 col-xs-offset-3">        
            <div class="row col-xs-12">
                <div class="row">
                    <div class="row col-xs-12">
                        <div class="col-xs-12 text-justify" bind-html-compile="text.macDownload"></div>
                        <div class="download-button">                                
                            <a ng-href="http://jocomunico.com/files/jocomunico-mac.zip" target="_self">
                                <button class="btn-gray pull-right" >
                                    {{text.downloadButton}}
                                    <img src="img/srcWeb/DropdownMenuBar/downloadIconSelected.png" class="img-download" />
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-if="view.Android">
        <div class="col-xs-6 col-xs-offset-3">        
            <div class="row col-xs-12">
                <div class="row">
                    <div class="row col-xs-12">
                        <div class="col-xs-12 text-justify" bind-html-compile="text.androidDownload"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-if="view.iOS">
        <div class="col-xs-6 col-xs-offset-3">        
            <div class="row col-xs-12">
                <div class="row">
                    <div class="row col-xs-12">
                        <div class="col-xs-12 text-justify" bind-html-compile="text.iosDownload"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>




