<!-- This view is the main board where the picto will be shown. In addition it 
     includes others view like sentece, edit (board/cell) panel, etc etc
-->

    <div id="header" class="container-fluid text-center row" style="height: 100% !important">
        <div id="menuText" class="col-xs-offset-2 col-xs-10">
            <div class="col-xs-2" ng-click="editMenu();">
                {{content.editpanel}} 
            </div>
            <div class="col-xs-1" ng-click="panelMenu()">
                {{content.grouppanels}}
            </div>
            <div class="col-xs-3" ng-click="userConfig();">
                {{content.cfguser}}
            </div>
            <div class="col-xs-offset-1 col-xs-1" ng-click="home();">
                {{content.home}}  
                <!--modif: trure home i edit-->
            </div>
            <div class="col-xs-1"  ng-click="logOut();">
                {{content.logout}} 
            </div>
        </div>
    </div>




