
<div class="row fullheight imgRounded" style="background-image: url({{baseurl}}img/srcWeb/patterns/pattern{{cfgBgColorPred}}.png)">
    <div ng-if='inScan && isScanning == "prediction" &&  isScanningCancel === false' class="scaneo" ng-style="{'border':'7px solid #{{cfgScanColor}}','margin': '0px'}"></div>
    <div class="predPadding">
        <div class="col-xs-12 containerPredCell" ng-repeat="picto in recommenderArray| limitTo: cfgPredBarNumPred" style="height: {{100 / cfgPredBarNumPred}}%" >

            <!--         If there is an custom image this line mades it draggable and dropable.
                         Only if we are in edit mode-->
            <div class="contentPredCell" ng-mousedown="isClickEnable()?addToSentence(picto.pictoid, picto.imgtemp, picto.pictotext):null;" ng-mouseenter="cfgTimeOverOnOff?TimeoutOverClick(1,picto):null" ng-mouseleave="cfgTimeOverOnOff?CancelTimeoutOverClick():null">
                <div ng-if="inScan && isScanning == 'predictionCell' && picto.pictoid == arrayScannedCells[indexScannedCells].pictoid && isScanningCancel === false" class="scaneo" ng-style="{'border':'7px solid #{{cfgScanColor}}'}"></div> 
                <div ng-if="cfgTextInCell && picto.pictotext" class="textCell" ng-style="{'height':'30 % '}">{{picto.pictotext}}</div>
                <div ng-style="cfgTextInCell ? {'height':'70%'}:{'height':'100%'}">
                    <img ng-if="!picto.imgtemp" ng-src="{{baseurl}}img/pictos/{{picto.imgPicto}}" class="imgResponsive"/>
                    <img ng-if="picto.imgtemp" ng-src="{{baseurl}}{{picto.imgtemp}}" class="imgResponsive"/>
                </div>
            </div>
        </div>
    </div>
</div>

